<% @student = current_student %>

<% title "#{@student.advisor.name}'s Appointments" %>  

<h1><%= @student.name %> </h1>

<h2>Current advisor: <%= @student.advisor.name %></h2>
<h2>Current advisor's e-mail: <%= @student.advisor.email %></h2>

<br />

